<footer class="footer p-12 bg-neutral text-neutral-content"> 
    <div>
        <h3 class="heading font-bold text-2xl">SNGR Studio</h3>
        <h4 class="text-lg">PT. Karya Muda Mentaya</h4>
        <p>Jl. Kapten Mulyono No. 59A</p>
        <p>Sampit &mdash; Kalimantan Tengah</p>
        <p>&copy; 2022</p>
    </div>
    <div>
        <h4 class="footer-title">Tentang Kami</h4>
        <a href="#">Tentang Kami</a>
        <a href="#">Lowongan</a>
        <a href="#">Kontak</a>
    </div>
    <div>
        <h4 class="footer-title">Legal</h4>
        <a href="#">Kebijakan Penggunaan</a>
        <a href="#">Kebijakan Privasi</a>
    </div>
</footer>