---
import MainLayout from '@layouts/main.astro'
import { Markdown } from 'astro/components'
import PostData from '@lib/blog.ts'

export const getStaticPaths = async () => {
    return PostData.map(post => {
        return {
            params: { slug: post.slug },
            props: { post }
        }
    })
}

const { slug } = Astro.request.params
const { post } = Astro.props
---
<MainLayout title={post.title}>
    <article class="article">
        <h1 class="title">{ post.title }</h1>
        {post.imageCover ? (
            <figure>
                <img src={post.imageCover} width={400} height={300} alt={post.title}>
            </figure>
        ) : null}
        <div id="content">
            <Markdown content={post.contentMarkdown} />
        </div>
    </article>
</MainLayout>

<style lang="scss">
    @use '../../styles/fonts';

    .title {
        @apply font-extrabold text-4xl lg:text-5xl text-center my-8 lg:mb-16;
        @include fonts.isHeading(true);
    }

    #content {
        @apply prose prose-lg lg:prose-xl max-w-none;
        h1, h2, h3, h4, h5, h6 {
            @include fonts.isHeading(true);
        }
    }

    .article {
        @apply max-w-screen-lg mx-auto;
    }
</style>