---
import { Markdown } from 'astro/components'
---

<section class="section">
    <div class="section__content">
        <div></div>
        <div>
            <Markdown>
                ## Ceritakan saja, tidak masalah.

                Anda sedang mengelola musholla. Atau anda sedang berkampanye agar terpilih di pemilu selanjutnya. Mungkin juga, anda sedang mencari pelanggan untuk makanan beku buatan istri tercinta. Semuanya, mengandung kisah yang publik ingin mendengarnya, dan berinteraksi dengan Anda.
            </Markdown>
        </div>
    </div>
</section>

<style lang="scss">
    .section {
        @apply hero min-h-screen;
        .section__content {
            @apply hero-content text-center;
            > div {
                @apply max-w-lg flex flex-col gap-4;
                > h2 {
                    @apply font-bold text-4xl;
                }
                > p {
                    @apply text-lg;
                }
            }
        }
    }
</style>