@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

$heading: 'Inter', sans-serif;
$body: 'Inter', sans-serif;
$mono: 'Cascadia Code', sans-serif;
    

h1, h2, h3, h4, h5, h6 { font-family: $heading;}
p { font-family: $body;}
pre, code { font-family: $mono; }