$system: system-ui, sans-serif;
$default: $system;
$heading: 'Exo', $system;

@mixin isHeading($isheading) {
    @if $isheading == true {
        font-family: $heading;
    } @else {
        font-family: $default;
    }
}