<section class="hero min-h-screen">
    <div class="hero-content text-center">
        <div class="max-w-md flex flex-col gap-4">
            <h1 class="heading font-extrabold text-6xl">Ceritakan kisah Anda.</h1>
            <p class="text-2xl">Jangan disimpan sendiri, pastikan seluruh dunia mendengarnya.</p>
            <div>
                <a class="btn btn-disabled" href="#">Coming Soon</a>
            </div>
        </div>
    </div>
</section>