---
import MainLayout from '@layouts/main.astro'
import {AllPosts as blogArticles} from '../lib/blog.ts'

const projects = Astro.fetchContent('./sites/*.md')
---
<MainLayout title="Beranda">
    <p>{JSON.stringify(blogArticles)}</p>
</MainLayout>
