---
let title = 'My Astro Site';
---
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <main>
    <p>hello</p>
    </main>
</body>
</html>
