---
import MainLayout from '@layouts/main.astro'
import getSites from '@lib/sites.ts'
import slugify from 'slugify'

export const getStaticPaths = () => {
    const sites = getSites()
    return sites.map(site => {
        return {
            params: { slug: slugify(site.title, {lower: true}) },
            props: { site }
        }
    })
}

const { slug } = Astro.request.params
const { site } = Astro.props
---
<MainLayout title={site.title}>
    <p>{JSON.stringify(site)}</p>
</MainLayout>