---
import { Markdown } from 'astro/components'
const content = await fetch('https://raw.githubusercontent.com/radenpioneer/radenpioneer/main/README.md').then(res => res.text())
const readmeurl = 'https://github.com/radenpioneer/radenpioneer/blob/main/README.md'
---

<section class="bio">
    <p class="path"><a href={readmeurl} target="_blank">radenpioneer/README.md</a></p>
    <Markdown content={content} />
</section>

<style lang="scss">
    .bio {
        @apply lg:col-span-4 prose;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold my-4;
    }
 
    h3 {
        @apply text-4xl;
    }

    p {
        @apply text-xl my-2;
    }

    .path {
        @apply text-sm text-gray-400;
        font-family: 'Cascadia Code', sans-serif;
        a {
            @apply hover:underline;
        }
    }
</style>