---
import { DateTime } from 'luxon'
---
<footer>
    <p>
        &copy;{DateTime.now().toFormat('yyyy')} 
        <a href="/"> Sastronegoro. </a> 
        Built with 
        <a href="https://astro.build" target="_blank"> Astro</a>.    
    </p>
</footer>

<style lang="scss">
    footer {
        @apply p-16;
    }
    p {
        @apply text-center text-gray-400;
        font-family: "Cascadia Code", sans-serif;
    }

    a {
        @apply hover:text-blue-500 transition-all;
    }
</style>