---
import getPexelsImages from '@lib:pexels.ts'
import { getImage } from '@lib:assets.ts'

const imagesFromPexels = await getPexelsImages('web')
const bgImage = await getImage(imagesFromPexels[0].src.original, {widths: [1280]})
---
<section>
    <div class="hero__wrap" style={`background-image: url(${bgImage.jpeg[0].url})`}>
        <div class="hero__overlay"></div>
        <div class="hero__content">
            <div class="hero__main">
                <h1>Hello, Digitalization</h1>
                <p>Sehari-hari kini kita hidup tak lepas dari perangkat digital. Sehingga sudah saatnya kita beradaptasi, bersiap menatap masa depan yang gemilang.</p>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    @use '../styles/fonts';

    .hero__wrap {
        @apply hero min-h-screen;
        .hero__overlay {
            @apply hero-overlay bg-opacity-60;
        }
        .hero__content {
            @apply hero-content text-center text-neutral-content;
            > .hero__main {
                @apply flex flex-col items-center gap-4 max-w-md;
                > h1 {
                    @include fonts.isHeading(true);
                    @apply text-5xl font-bold;
                }
                > p {
                    @apply text-xl;
                }
            }
        }
    }
</style>