---
import HeroComp from './hero'
---

<section id='hero'>
  <HeroComp client:idle>
    <h2 class='h'>Persembahan yang terbaik, dari teknologi web modern.</h2>
  </HeroComp>
</section>

<style>
  .h {
    @apply font-light text-5xl text-base-100 text-center;
  }
</style>
