---
const {title, date, tags, url} = Astro.props
---
<section>
    <article>
        <h1>{ title }</h1>
        <p>{ date }</p>
        <p>{ tags.join(' ') }</p>
        <p>{ url }</p>
    </article>
</section>

<style lang="scss">
    section {
        width: 1200px;
        height: 630px;
        @apply bg-gray-50;
    }
</style>