---
import Markdown from 'astro/components'
---

<section id="title">
    <h1>sastronegoro.dev</h1>
</section>

<style lang=scss>
    section {
        @apply col-span-6 p-8;

        h1 {
            @apply font-extrabold text-center text-4xl;
        }
    }
</style>