---
import '@styles/global.scss'
import Header from '@components/header/header.astro'
import Icons from '@components/icons/icons.astro'
import Footer from '@components/footer/footer.astro'

const { title } = Astro.props
---

<html lang='id'>
  <head>
    <meta name='viewport' content='width=device-width' />
    <title>{title}</title>
    <Icons />
    <meta charset='UTF-8' />
  </head>
  <body>
    <Header />
    <main>
      <slot></slot>
    </main>
    <Footer />
    <script type='module' src='/pwabuilder-sw-register.js'></script>
  </body>
</html>
