---
import '@styles/global.scss'
import Header from '@components/header/header.tsx'
import Icons from '@components/icons/icons.astro'

let { title } = Astro.props
---

<html lang='id'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <title>{title}</title>
    <Icons />
  </head>
  <body>
    <Header client:load />
    <main>
      <slot></slot>
    </main>
  </body>
</html>
