---
import '@styles/global.scss'
import Head from '@components/head.astro'
import Main from '@components/main.astro'

export interface IBase {
  title: string
}

const { title } = Astro.props as IBase
---

<html lang='id'>
  <head>
    <Head />
    <title>{title}</title>
  </head>
  <body>
    <Main>
      <slot></slot>
    </Main>
  </body>
</html>
