---
let { title } = Astro.props
---
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <slot/>
</body>
</html>

<style lang="scss" global>
    @use '../styles/global.scss';
</style>