---
import MainLayout from '$layouts/main.astro'
import { DateTime } from 'luxon'

const { content } = Astro.props
---
<MainLayout title={content.title}>
    <article class="post">
        <h1 class="title">{content.title}</h1>
        <p class="meta">
            <time datetime={content.date}>{DateTime.fromISO(content.date).setLocale('id').toLocaleString(DateTime.DATE_FULL).toUpperCase()}</time>
            <span>{' | '}</span>
            {content.tags.map(tag => (<span><a href="#">{tag.toUpperCase()}</a><span>{' '}</span></span>))}
        </p>
        <hr>
        <slot/>
        <p class="meta"><a href="/">BERANDA</a></p>
    </article>
</MainLayout>

<style lang="scss">
    .post {
        @apply prose md:prose-lg lg:prose-2xl mx-auto bg-white shadow-xl p-8 lg:p-16 rounded-3xl;
    }
    .meta {
        font-family: 'Cascadia Code', sans-serif;
        @apply text-gray-500;
        a {
            @apply no-underline text-current hover:underline transition-all;
        }
    }
    .title {
        line-height: 1.25 !important;
    }
</style>