---
import Layout from './base.astro'

const { content } = Astro.props
const imgDeliveryURL = 'https://res.cloudinary.com/radenpioneer/image/fetch/w_600,f_auto/'
const screenshotServiceURL = 'https://snap.sngr.dev/ss?url='
---
<Layout>
    <section>
        <img src={`${imgDeliveryURL}${encodeURIComponent(screenshotServiceURL + content.url)}`} alt="">
        <slot/>
    </section>
</Layout>